.main {
  width: 250px;
  height: 400px;
  padding: 0px;
}
header {
  text-align: center;
  font-size: 25px;
  height: 50px;
  font-family: 'Ubuntu', sans-serif;
}
.page {
  top: 75px;
  padding: 10px;
  height: 280px;
  width: inherit;
  position: fixed;
  display: inline-block;
}
.page1 {
  left: 0px;
}
.page2 {
  left: 300px;
}
.page3 {
  left: 600px;
}
.footer {
  width: 240px;
  position: fixed;
  bottom: 10px;
}
.footer div{
  display: inline;
  border: 2px;
  padding: 5px;
  margin: 5px;
}
footer div img {
  width:35px;
  height:35px;
  padding: 10px;
  border: 0px;
  border-radius: 15px;
}

footer div img:hover {
  background-color: #f587aa;
  border-color: #f587aa;
}